body {
	font-size: 1.0em;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: white;
	padding: 0px;
	margin: 0px;
	
	background-image: url("img/gear.jpg");
	background-position: top;
	background-repeat: repeat;
	background-color: black;
}
h1  {
	font-size:2em;
	font-family: sans-serif;
	margin:0px;
	color: #F05209;
}
h2  {
	font-size:1.3em;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: white;
}
ul {
    display: table;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}
li {
	display: table;
}

.zoner {
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
	margin-top:5px;
	padding: 10px;
}
.zoner a {
	font-family: sans-serif;
	margin:0px;
	color: #CA0403;
	float: left;
	margin-left: 0;
	text-transform: uppercase;
	font-weight: bold;
}
.list {
	background-color: rgba(150, 150, 150, 0.75);
	margin-top: 32px;
	display: block;
}
.year {
	margin: 0px 0 3px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75);
}
.year a {
	padding: 2px 4px;
	font-size: 1.25em;
	color: #000000;
} 
.year a:hover{
	color: #646464;;
}
.month a {
	color: #C7C7C7;
	padding: 5px 10px;
	font-family: arial;
	font-size: 0.9em;
	text-transform:lowercase;
}
.month a:hover{
	color: white;
}
.left {
	width: 17.4%;
	float: left;
}
.right {
	width: 75%;
	float: right;
}
.spelningar {
	font-family: sans-serif;
	margin:0px;
	color: #F05209;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
}

.spelningarImg{
	width:49%;
}
.wideImg{
	width:98%;
}
.fotoCredits{
	margin-top: 0px;
	font-size: 0.8em;
	font-family: serif;
}


#wrapper {
	min-width: 300px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.loggo  {
	margin-left: 0;
	margin-top:5px;
	display: inline-block;
}
.logowrapper {
	display: inline;
}
.menu {
	float:right;
	display: inline-block;
	text-decoration: none;	
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	font-size: 17px;
	margin-top: 35px;
	margin-right: 10px;
	font
}
.menu a {
	margin-left: 30px;
}
.menu a:hover {
	color: #F05209;
}
.redtext {
	color:#F05209;
}

.center {
	text-align:center;	
}

.content {
	background-color: rgba(0, 0, 0, 0.5);
	width: auto;
	padding: 10px;
	margin-bottom: 25px;
	margin-top:5px;
}
.footer {
	display: inline-block;
}

.repeater {
	margin-top: 10px;
	font-size:1.25em;
	background-color: rgba(0, 0, 0, 0);	
}
.repeater p {
	display:inline;
}
.repeater a{
	display:inline;
	float: none;
	font-weight: normal;
	text-transform: none;
	color:#2F6A91;
}
.gammla p {
	color: #8B8B8B;
}
.monthShort {
	color:#2F6A91;
}

.divider {
	height: 1px;
	background-color: #8B8B8B;
	margin:16px 0;
}
.zoneDivider {
	margin:4px 0;
	float: none;
}

.socialIcons {
	width:23.5%;
}
.socialWrapper {
	text-align: center;
}

.membimg {
	margin: 3px;
}
.membimgHigh {
	width: 47%;
}
.membimgWide {
	width: 95%;
}
.bandwrapper {
	display: inline-block;
	text-align: center;
}

.logoKlass {
	max-width: 65%
}
.credits {
	float: right;
	margin-top: -10px;
	font-size: 0.8em;
	font-family: serif;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.small {
	font-size: 1px;
}

/* For mobile devices */
@media screen and (max-width: 773px) {
	.menu {
		margin-top: 5px;
		float:none;
	}
	.menu a {
		margin-left: 20px;
	}
	.loggo img {
		width: 290px;
	}
	.right {
		width:69%
	}
	.left {
		width: 18.4%
	}	
}

/* Apple iPhone 6 Plus */
@media screen and (max-width: 414px) {
	.menu a {
		margin-left: 29px;
	}
	.loggo {
		margin-left:30px;
	}
	.loggo img {
		width: 330px;
	}
	.right {
		width:66%
	}
	.left {
		width: 18.4%
	}
}

/* Apple iPhone 6 */
@media screen and (max-width: 384px) {
	.menu a {
		margin-left: 23px;
	}
	.loggo {
		margin-left:24px;
	}
	.loggo img {
		width: 310px;
	}
}

/* Apple iPhone 6 */
@media screen and (max-width: 375px) {
	.menu a {
		margin-left: 22px;
	}
	.loggo {
		margin-left:23px;
	}
	.loggo img {
		width: 310px;
	}
}

/* HTC One X, EVO LTE */
@media screen and (max-width: 360px) {
	.menu a {
		margin-left: 20px;
	}
	.loggo {
		margin-left:21px;
	}
	.loggo img {
		width: 300px;
	}
	.right {
		width:62%
	}
	.left {
		width: 22.4%
	}
}

/* Older Phones */
@media screen and (max-width: 330px) {
	.menu a {
		margin-left: 12px;
	}
	.loggo {
		margin-left:15px;
	}
	.loggo img {
		width: 280px;
	}
	.right {
		width:62%
	}
	.left {
		width: 22.4%
	}
}