body {
	font-size: 1.0em;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: white;
	padding: 0px;
	margin: 0px;
	
	background-image: url("img/gear.jpg");
	background-position: top;
	background-repeat: repeat;
	background-color: black;
}
h1  {
	font-size:2em;
	font-family: sans-serif;
	margin:0px;
	color: #CA0403;
}
h2  {
	font-size:1.3em;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: white;
}

#wrapper {
	min-width: 300px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.loggo  {
	margin-left: 0;
	margin-top:5px;
	display: inline-block;
}
.logowrapper {
	display: inline;
}
.menu {
	float:right;
	display: inline-block;
	text-decoration: none;	
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	font-size: 17px;
	margin-top: 35px;
	margin-right: 10px;
	font
}
.menu a {
	margin-left: 30px;
}
.menu a:hover {
	color: red;
}
.redtext {
	color:red;
}

.center {
	text-align:center;	
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.content {
	background-color: rgba(0, 0, 0, 0.5);
	width: auto;
	padding: 10px;
	margin-bottom: 25px;
	margin-top:5px;
}
.largeImg {
     display:block;
	 max-width: 100%;
}

.divider {
	height: 1px;
	background-color: #8B8B8B;
	margin:16px 0;
}

.socialIcons {
	width:23.5%;
}
.socialWrapper {
	text-align: center;
}

.membimg {
	width: 23.5%;
	margin: 3px;
}
.bandwrapper {
	display: inline-block;
	text-align: center;
}

.logoKlass {
	max-width: 470px;
	
}

@media screen and (max-width: 730px) {
	.menu {
		margin-top: 30px;
	}
	.menu a {
		margin-left: 20px;
	}
	.loggo img {
		width: 290px;
	}
}

@media screen and (max-width: 655px) {
	.menu {
		margin-top: 25px;
	}
	.menu a {
		margin-left: 10px;
	}
	.loggo img {
		width: 250px;
	}
	.membimg {
		width: 40%;
	}
}

@media screen and (max-width: 570px) {
	.loggo  {
		display: block;
	}
	.menu {
		margin: 4px;
		float:none
	}
}

/* Motorola Droid 3 */
@media screen and (max-width: 540px) {
	.menu a {
		margin-left: 57px;
	}
	.loggo {
		margin-left:55px;
	}
	.loggo img {
		width: 410px;
	}
}

/* Sony Xperisa Sola, U */
@media screen and (max-width: 480px) {
	.menu a {
		margin-left: 39px;
	}
	.loggo {
		margin-left:30px;
	}
	.loggo img {
		width: 390px;
	}
}

/* LG Optimus LTE */
@media screen and (max-width: 424px) {
	.menu a {
		margin-left: 29px;
	}
	.loggo {
		margin-left:30px;
	}
	.loggo img {
		width: 330px;
	}
}

/* Apple iPhone 6 Plus */
@media screen and (max-width: 414px) {
	.menu a {
		margin-left: 29px;
	}
	.loggo {
		margin-left:30px;
	}
	.loggo img {
		width: 330px;
	}
}

/* Apple iPhone 6 */
@media screen and (max-width: 384px) {
	.menu a {
		margin-left: 23px;
	}
	.loggo {
		margin-left:24px;
	}
	.loggo img {
		width: 310px;
	}
}

/* Apple iPhone 6 */
@media screen and (max-width: 375px) {
	.menu a {
		margin-left: 22px;
	}
	.loggo {
		margin-left:23px;
	}
	.loggo img {
		width: 310px;
	}
}

@media screen and (max-width: 365px) {
	.menu a {
		margin-left: 9px;
	}
	.loggo img {
		width: 280px;
	}
	.membimg {
		width: 47%;
	}
}

/* HTC One X, EVO LTE */
@media screen and (max-width: 360px) {
	.menu a {
		margin-left: 20px;
	}
	.loggo {
		margin-left:21px;
	}
	.loggo img {
		width: 300px;
	}
}

/* Older Phones */
@media screen and (max-width: 330px) {
	.menu a {
		margin-left: 12px;
	}
	.loggo {
		margin-left:15px;
	}
	.loggo img {
		width: 280px;
	}
}