body {
	font-size: 1.0em;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: white;
	padding: 0px;
	margin: 0px;
	
	background-image: url("img/gear.jpg");
	background-position: top;
	background-repeat: repeat;
	background-color: black;
}
h1  {
	font-size:2em;
	font-family: sans-serif;
	margin:0px;
	color: #CA0403;
}
h2  {
	font-size:1.3em;
	font-family: sans-serif;
	margin:16px 0;
}

a {
	text-decoration: none;
	color: white;
}
#wrapper {
	min-width: 300px;
	max-width: 800px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.loggo  {
	margin-left: -5px;
	margin-top:5px;
	display: inline-block;
}
.menu {
	float:right;
	display: inline-block;
	text-decoration: none;	
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	font-size: 17px;
	margin-top: 35px;
	margin-right: 10px;
}
.menu a {
	margin-left: 30px;
}
.menu a:hover {
	color: red;
}


.redtext {
	color:red;
}

.content {
	background-color: rgba(0, 0, 0, 0.5);
	width: auto;
	padding: 10px;
	margin-bottom: 25px;
}
.largeImg {
     display:block;
	 max-width: 100%;
}
.divider {
	height: 1px;
	background-color: #8B8B8B;
	margin: 0 0px;
}

.socialIcons {
	width:18%;
}
.socialWrapper {
	text-align: center;
}

@media screen and (max-width: 710px) {
	.loggo  {
		display: block;
	}
	.menu {
		float:none;
		margin: 0px;
	}
	.menu a {
		margin-left: 20px;
	}
}

@media screen and (max-width: 333px) {
	.menu a {
		margin-left: 15px;
	}
}